## Data Science

## Introduction

In this notebook, we will explore various aspects of data science, including languages, libraries, and tools. We will also demonstrate some basic arithmetic operations and conversions using code.

## Data Science Languages

Here are some popular languages used in data science:
- Python
- R
- SQL (Structured Query Language)
- SAS (Statistical Analysis System)
- Julia
- MATLAB
- Scala
- Java
- C++
- Perl
- Haskell
- Go
- Rust

## Data Science Libraries


1. **NumPy** - Numerical computing
2. **pandas** - Data manipulation and analysis
3. **scikit-learn** - Machine learning
4. **TensorFlow** - Deep learning
5. **Keras** - High-level neural networks API
6. **PyTorch** - Deep learning
7. **Matplotlib** - Data visualization
8. **Seaborn** - Statistical data visualization
9. **SciPy** - Scientific and technical computing
10. **Statsmodels** - Statistical models and tests
11. **NLTK** - Natural language processing
12. **spaCy** - Advanced natural language processing
13. **Dask** - Parallel computing
14. **Plotly** - Interactive visualizations

## R Libraries
1. **ggplot2** - Data visualization
2. **dplyr** - Data manipulation
3. **tidyr** - Data tidying
4. **shiny** - Interactive web applications
5. **caret** - Predictive modeling
6. **randomForest** - Random forest algorithm
7. **xgboost** - Gradient boosting
8. **lubridate** - Date-time manipulation
9. **stringr** - String manipulation
10. **forecast** - Time series forecasting

## SQL Libraries
1. **SQLAlchemy** - SQL toolkit and ORM
2. **Psycopg2** - PostgreSQL adapter
3. **PyMySQL** - MySQL

## Data Science Tools

| Tool          | Description                       |
|---------------|-----------------------------------|
| Jupyter       | Interactive computing environment |
| RStudio       | IDE for R programming              |
| GitHub         | Version control and collaboration  |
| Tableau       | Data visualization                 |
| Excel         | Spreadsheet software               |

## Arithmetic Expression Examples

In this section, we will demonstrate some basic arithmetic expressions using code cells.

In [2]:
# Multiplying and Adding Numbers
a = 5
b = 10

# Multiply
product = a * b

# Add
sum_result = a + b

product, sum_result

(50, 15)

In [3]:
# Convert minutes to hours
def minutes_to_hours(minutes):
    return minutes / 60

minutes = 120
hours = minutes_to_hours(minutes)
hours

2.0

## Objectives

- Understand basic data science concepts
- Learn about popular data science languages and libraries
- Explore data science tools
- Perform basic arithmetic operations and conversions using Python code

## Author

This notebook was created by Muhammad Dawood.